
/** Universal selector **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/** shared style **/
.font-inter { 
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}



/** main style **/
header {
    background-color:#FFFFFF ;   
}





 /* navbar section  */


.nav-container {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    padding: 16px 120px;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}




.logo img {
    display: block;
    width: 139px;
}




.menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
}




.menu a {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}



.btn {
    background-color: #469165;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    transition:0.3s ease;
}



.btn:hover {
    background-color: lightseagreen;
    transform: translateY(-2px);
}




               
 /* banner section */


#hero {
    background:url("../assets/hero-bg.png");
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px 120px 134px;
}




.overlay {
    position: absolute;
    inset: 0;
    background: rgba(7, 18, 37, 0.40);
    z-index: 1;
}



.hero-content  {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #ffffff;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto; 
}



.badge {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    margin-bottom: 16px;
    gap: 8px;
    color: #469165;
    background-color: white;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 500;
    backdrop-filter:blur(10px);
}



.dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(70, 145, 101, 1);
    position: relative;
    z-index: 1;
}



.dot::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgba(70, 145, 101, 0.4);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}



.dot::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: rgba(70, 145, 101, 0.2);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 3;
}



.hero-content h1 {
    color: white;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 84px;
    text-transform: capitalize;
}



.hero-content h1 span {
    color: #30B868;
}



.hero-content p {
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto 32px;
    max-width: 700px;
}



.buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}



.buttons a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    padding: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}



.primary-btn {
    color: #FFFFFF;
    background-color: #469165;
    border: none;
}



.primary-btn:hover {
    transform: translateY(-2px);
    background-color:lightseagreen;
}



.secondary-btn {
    background: transparent;
    color: #FFFFFF;
    border: 1px solid white;
}



.secondary-btn:hover {
    background-color: lightseagreen;
    transform: translateY(-2px);
}





/* notes section  */


#notes-section {
    padding: 80px 120px 0;    
}



.notes-container {
   max-width: 1600px;
   width: 100%;
   margin: 0 auto;
}



.section-heading {
    text-align: center;
    margin-bottom: 44px;
}



.section-heading h2 {
    font-size: 48px;
    font-weight: 700;
    color:#001931;
    text-transform: capitalize;
    margin-bottom: 16px; 
}



.section-heading p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    font-weight: 400;
}



.notes-card {
    display: flex;
    gap: 24px;   
}



.card {
    padding:60px 24px;
    text-align: center;
    border-radius: 8px;
    flex: 1;
    border: none;
    box-shadow: 0px 1px 13px 5px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}



.card:hover {
    transform: scale(1.05);
    background-color:lightblue;
}



.icon-box {
   height: 60px;
   width: 60px;
   margin: 0 auto 30px;
   border-radius: 50%;
   background: #ff5a5f;
   font-size: 24px;

   display: flex;
   justify-content: center;
   align-items: center;
}



.icon-box img {
    height: 27px;
    width: 27px;
}



.card h3 {
    
    font-weight: 600;
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
    text-transform: capitalize;
}



.card p {
    
    font-weight: 400;
    font-size: 16px;
    color:#627382;
    line-height: 20px;
}





/* second brain section */


#second-brain {
    padding: 120px;    
}



.brain-container {
    max-width: 1600px;
    margin:0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;   
}



.brain-image {
    flex: 1;
}



.brain-image img {
    display: block;
    width: 100%;
    max-width: 600px;
}



.brain-content {
    flex: 1;    
}



.brain-header {
    margin-bottom: 40px;
}



.brain-header h5 {
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform:uppercase;
    margin-bottom: 16px;   
}



.brain-header h2 {
    color:#001931;
    font-weight: 700;
    font-size: 48px;
    text-transform: capitalize;
    margin-bottom: 16px;
}



.brain-header p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}



.brain-content ul {
    list-style-type: none;
    
}



.brain-content ul li{
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    gap: 6px;
}



.brain-content ul li i {
    color: #469165;
    font-size: 16px;
}



.brain-content ul li span {
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    line-height: 20px;
}




 
/* cta section */


#cta-section {
    padding: 2px 120px 120px;
}



.cta-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    padding: 80px 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}



.cta-container h2 {
    font-size: 42px;
    font-weight: 700;
    color: #001931;
}



.cta-container p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 24px;
    max-width: 600px;
}



.cta-btn  {
    background-color: #469165;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    transition:0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}



.cta-btn:hover {
    background-color: lightseagreen;
    transform: translateY(-2px);
}



.cta-text {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
}



 


/* footer section */

#footer-section {
    background-color: #001931;
    padding: 120px 0 30px;       
}



.footer-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 120px;
}



.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}



.footer-logo img {
    width: 139px;
    margin-bottom: 4px;
}



.footer-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 107px;
}



.footer-links p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}



.social-icons {
    display: flex;
    gap: 16px;
}



.social-icons a {
    color: #021d36;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}



.footer-line hr {
    margin: 80px 0 30px;
    border: none;
    border-top: 1px solid rgba(128, 128, 128, 0.252);
}



.footer-bottom {
    text-align: center;
}



.footer-bottom p {
    color: #FAFAFA;
    font-size: 16px;
}
 